<header class="head">
	<div class="header fn-clear">
		<section class="header-cnt fn-clear">
			<div class="logo">
				<div class="logo-cnt">
				 	<h1><a href="/">{{ site.homepage }}</a></h1>
				 	<h2>{{ site.blogDesc }}</h2>
				</div>
			</div>
			<nav class="nav" role="navigation">
				<ul class="primary-nav">
					<li><a href="/" >Home</a></li>
					<!-- <li><a href="/" >Projects</a></li> -->
					<!--<li><a href="/category.html" >Category</a></li>-->
					<li><a href="/archives.html" >Projects</a></li>
					<li><a href="/aboutme.html" >Blogs</a></li>
					<!--<li><a href="/feed.xml" target="_blank" >Rss</a></li>-->
				</ul>
			</nav>
			<a href="/" class="nav-toggle">Menu<span></span></a>
		</section>
	</div>
</header>